{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "useBuiltIns": true
      }
    ],
    ["react"],
    ["stage-2"]
  ],
  "plugins": [
    ["add-module-exports"],
    ["transform-object-rest-spread"],
    [
      "import-inspector",
      {
        "serverSideRequirePath": true,
        "webpackRequireWeakId": true
      }
    ]
  ],
  "env": {
    "node": {
      "plugins": [
        ["dynamic-import-node"],
        [
          "css-modules-transform",
          {
            "extensions": [".css", ".scss", ".less"],
            "generateScopedName": "[name]-[local]"
          }
        ],
        [
          "transform-assets",
          {
            "extensions": [".svg", ".png", ".jpg", ".jpeg", ".bmp"]
          }
        ]
      ]
    },
    "webpack": {
      "plugins": ["syntax-dynamic-import"]
    }
  }
}
