body {
  /* text-align: center; */
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

#root {
  /* border : 1px solid #bbb; */
}

#header {
  vertical-align: middle;
  display: inline-block;
  width : 100%;
  position: relative;
  /* border : 1px solid #bbb; */
  /* padding: 5px; */
  background: #f2f2f2;
  border-top : 1px solid #474747;
  border-bottom: 1px solid #474747;

}

#logo {
  display: inline-block;
  height: .8em;
  padding-left: 5px;
  width :27.5px;
  position: relative;
  top : 1.5px;
  /* position: absolute;
  left : 10px; */
}

#navbar {
  padding-left : 5px;
  display: inline-block;
}

#user-name {
  display: inline-block;
  padding : 0px;
  position: absolute;
  right : 5px;
}

.nav-li {
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  padding : 0px 5px 0px 0px;

}
#nav-link {
  color : #474747;
  text-decoration: none;
}
